<section class="py-5" style="margin-top: 3%;">
    <div style="margin: 0% 10% 0% 10%;">
        <h2 dir="ltr">Nh&agrave; s&aacute;ch - Thế giới tri thức v&agrave; tinh hoa nh&acirc;n loại</h2>
        <p dir="ltr">Người ta thường n&oacute;i &ldquo;s&aacute;ch l&agrave; một kho t&agrave;ng v&ocirc; gi&aacute;&rdquo;
            v&igrave; n&oacute; chứa đựng nhiều kiến thức bổ &iacute;ch của nh&acirc;n loại. Ch&iacute;nh v&igrave; thế
            m&agrave; nh&agrave; s&aacute;ch, nơi được trưng b&agrave;y h&agrave;ng ngh&igrave;n cuốn s&aacute;ch c&oacute; thể
            n&oacute;i l&agrave; một thế giới tri thức v&agrave; hội tụ đủ mu&ocirc;n v&agrave;ng tinh hoa của c&aacute;c nền
            văn h&oacute;a kh&aacute;c nhau.</p>
        <p dir="ltr">Một v&agrave;i địa điểm b&aacute;n s&aacute;ch nổi tiếng v&agrave; đ&atilde; xuất hiện từ l&acirc;u như
            nh&agrave; s&aacute;ch Fahasa, nh&agrave; s&aacute;ch Nh&atilde; Nam chắc hẳn l&agrave; nơi đ&atilde; lưu giữ kỷ
            niệm tuổi thơ của nhiều người. Những nh&agrave; s&aacute;ch n&agrave;y kh&ocirc;ng chỉ b&aacute;n mỗi s&aacute;ch
            m&agrave; c&ograve;n &ldquo;b&aacute;n&rdquo; cả niềm vui, sự hạnh ph&uacute;c cho nhiều em nhỏ ở tuổi cắp
            s&aacute;ch đến trường.</p>
        <p dir="ltr">Nơi đ&acirc;y c&oacute; nhiều loại s&aacute;ch kh&aacute;c nhau với đa dạng lĩnh vực từ <a
                href="https://tiki.vn/sach-kinh-te/c846">kinh tế</a>, văn h&oacute;a, nghệ thuật,...cho đến triết học hay <a
                href="https://tiki.vn/cong-nghe-thong-tin/c876">c&ocirc;ng nghệ</a>. Th&ecirc;m v&agrave;o đ&oacute;, những loại
            s&aacute;ch bao gồm c&aacute;c kiến thức về ẩm thực, <a href="https://tiki.vn/sach-thuong-thuc-gia-dinh/c862">gia
                đ&igrave;nh</a> cũng c&oacute; mặt tại đ&acirc;y. Do đ&oacute;, nh&agrave; s&aacute;ch kh&ocirc;ng chỉ
            đ&oacute;n tiếp mỗi học sinh, sinh vi&ecirc;n m&agrave; c&ograve;n l&agrave; thi&ecirc;n đường d&agrave;nh cho những
            ai ham học hỏi v&agrave; cần t&igrave;m đến kiến thức.</p>
        <h2 dir="ltr">Tại sao n&ecirc;n chọn nh&agrave; s&aacute;ch BookShop?</h2>
        <p dir="ltr">B&ecirc;n cạnh những nh&agrave; s&aacute;ch truyền thống như nh&agrave; s&aacute;ch Fahasa, nh&agrave;
            s&aacute;ch Nh&atilde; Nam, nh&agrave; s&aacute;ch Phương Nam,...BookShop sẽ l&agrave; một lựa chọn mới mẻ v&agrave;
            th&uacute; vị d&agrave;nh cho những ai c&oacute; sở th&iacute;ch mua s&aacute;ch online. <a
                href="https://tiki.vn/nha-sach-BookShop/c8322">Nh&agrave; s&aacute;ch BookShop</a> sở hữu một kho t&agrave;ng
            s&aacute;ch rộng lớn với đa dạng c&aacute;c loại s&aacute;ch kh&aacute;c nhau để c&aacute;c bạn c&oacute; thể lựa
            chọn.</p>
        <ul>
            <li dir="ltr" aria-level="1">
                <p dir="ltr" role="presentation">Thao t&aacute;c mua v&agrave; thanh to&aacute;n đơn giản</p>
            </li>
        </ul>
        <p dir="ltr">Nếu như những nh&agrave; s&aacute;ch truyền thống khiến c&aacute;c bạn th&iacute;ch th&uacute; v&igrave;
            c&oacute; thể tận tay cầm những cuốn s&aacute;ch hay c&oacute; được cảm gi&aacute;c thoải m&aacute;i khi dạo
            v&ograve;ng quanh những gi&aacute; s&aacute;ch th&igrave; nh&agrave; s&aacute;ch trực tuyến BookShop sẽ mang đến cho
            c&aacute;c bạn sự thuận tiện khi mua sắm.&nbsp;</p>
        <p dir="ltr">Thay v&igrave; phải loay hoay đi khắp nơi để t&igrave;m được cuốn s&aacute;ch m&igrave;nh muốn mua,
            c&aacute;c bạn chỉ cần l&ecirc;n điểm b&aacute;n s&aacute;ch trực tuyến BookShop g&otilde; t&ecirc;n s&aacute;ch
            m&igrave;nh cần t&igrave;m l&agrave; n&oacute; sẽ xuất hiện ngay. Th&ecirc;m v&agrave;o đ&oacute;, việc thanh
            to&aacute;n sau khi mua h&agrave;ng cũng sẽ v&ocirc; c&ugrave;ng nhanh ch&oacute;ng v&agrave; kh&ocirc;ng cần phải
            chen ch&uacute;c xếp h&agrave;ng để chờ đến lượt m&igrave;nh.</p>
        <ul>
            <li dir="ltr" aria-level="1">
                <p dir="ltr" role="presentation">Đầy đủ, đa dạng thể loại s&aacute;ch&nbsp;</p>
            </li>
        </ul>
        <p dir="ltr">BookShop sở hữu nhiều loại s&aacute;ch kh&aacute;c nhau với đa dạng c&aacute;c lĩnh vực v&agrave; thể loại
            m&agrave; c&aacute;c bạn c&oacute; thể lựa chọn. Ngo&agrave;i những bộ <a
                href="https://tiki.vn/sach-giao-khoa-giao-trinh/c2321">s&aacute;ch gi&aacute;o khoa</a> từ cấp 1, cấp 2 đến cấp
            3, BookShop c&ograve;n c&oacute; nhiều loại s&aacute;ch về lĩnh vực kinh tế, khoa học,...C&aacute;c thể loại <a
                href="https://tiki.vn/tam-ly-gioi-tinh/c868">s&aacute;ch t&acirc;m l&yacute;</a>, tiểu thuyết, <a
                href="https://tiki.vn/truyen-tranh/c1084">truyện tranh</a>, <a href="https://tiki.vn/sach-van-hoc/c839">văn
                học</a> nước ngo&agrave;i,...cũng c&oacute; thể dễ d&agrave;ng t&igrave;m thấy tr&ecirc;n BookShop.</p>
        <ul>
            <li dir="ltr" aria-level="1">
                <p dir="ltr" role="presentation">Nhiều thương hiệu uy t&iacute;n&nbsp;</p>
            </li>
        </ul>
        <p dir="ltr">Ngo&agrave;i s&aacute;ch, BookShop c&ograve;n c&oacute; b&aacute;n nhiều loại dụng cụ văn ph&ograve;ng phẩm
            kh&aacute;c nhau với đa dạng thương hiệu nổi tiếng v&agrave; uy t&iacute;n tr&ecirc;n thị trường. Những nh&atilde;n
            hiệu văn ph&ograve;ng phẩm nổi tiếng như <a href="https://tiki.vn/cua-hang/pentel-official">Pentel</a>, <a
                href="https://tiki.vn/cua-hang/thien-long-official-store">Thi&ecirc;n Long</a>, Deli,...đều c&oacute; mặt tại
            BookShop.</p>
        <p dir="ltr">Th&ecirc;m v&agrave;o đ&oacute;, việc mua sắm tr&ecirc;n BookShop sẽ c&ograve;n dễ d&agrave;ng v&agrave; tiện
            &iacute;ch hơn rất nhiều bởi c&aacute;c bạn c&oacute; thể so s&aacute;nh gi&aacute; với nhiều điểm b&aacute;n
            kh&aacute;c. BookShop cũng c&oacute; nhiều chương tr&igrave;nh ưu đ&atilde;i c&ugrave;ng khuyến m&atilde;i hấp dẫn
            gi&uacute;p c&aacute;c bạn mua sắm tiết kiệm hơn.</p>
        <ul>
            <li dir="ltr" aria-level="1">
                <p dir="ltr" role="presentation">Nhiều nh&agrave; cung cấp nổi tiếng, được y&ecirc;u th&iacute;ch&nbsp;</p>
            </li>
        </ul>
    </div>
</section>

<ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100" style="font-size: 90%;">
        <span class="half" [style.width.%]="fill">
            <i class="fa fa-star"></i>
        </span>
        <i class="fa fa-star"></i>
    </span>
</ng-template>