<!-- Footer-->
<footer class="py-3 bg-white">
    <div class="container">
        <img src="/assets/icon.png" width="30px" class="p-1">
        <span class="m-0  text-black-50">Book Shop</span>
        <div>
            <img src="/assets/phone.png" width="30px" class="p-1">
            <span class="m-0  text-black-50">0374658090</span>
        </div>
        <img src="/assets/mail.png" width="30px" class="p-1">
        <span class="m-0  text-black-50">bookshop@gmail.com</span>
    </div>
</footer>
